---
import "../styles/reset.css";
import "../styles/base.css";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const { title, description } = Astro.props;

let pageTitle;
let pageDescription;

if (title) {
    pageTitle = title;
} else {
    pageTitle = SITE_TITLE;
}
if (description) {
    pageDescription = description;
} else {
    pageDescription = SITE_DESCRIPTION;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

import { SEO } from "astro-seo";
import { Font } from "astro:assets";
---

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" /><link
        rel="alternate"
        type="application/rss+xml"
        title={pageTitle}
        href={new URL("feed.xml", Astro.site)}
    />

    <SEO
        title={pageTitle}
        description={pageDescription}
        extend={{
            link: [{ rel: "icon", href: "/favicon.ico" }],
            meta: [
                { name: "twitter:title", content: pageTitle },
                { name: "twitter:description", content: pageDescription },
            ],
        }}
    />
    <Font cssVariable="--font-recursive" />
    <Font cssVariable="--font-recursive-mono" />
    <style is:global>
        :where(span:not([aria-hidden])):not(:focus):not(:active) {
            position: absolute;
            clip-path: inset(50%);
            inline-size: 1px;
            block-size: 1px;
            overflow: hidden;
            white-space: nowrap;
        }
    </style>
    <title>{pageTitle}</title>
</head>
